<!DOCTYPE html>
<html ng-app="restApp" ng-controller="restController">
    <head>
        <title ng-bind="title"></title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="rest/rest.css"/>
        <script type="text/javascript" src="javascript/angular-1.2.6/angular.min.js"></script>
    </head>
    <body>
    <div class="container">
        <rest-select src="'/service.xml'" on-select="selected(serviceUrl)"></rest-select>

        <rest src="src" on-load="serviceLoaded(service)" ng-cloak>
            <h1>{{title}} <small>{{subtitle}}</small></h1>
            <p>{{description}}</p>

            <rest-api ng-repeat="api in apis">
                <h2>{{api.title}} <small>{{api.subtitle}}</small></h2>
                <p>{{api.description}}</p>

                <div ng-repeat="group in api.groups">
                    <h3>{{group.title}} <small>{{group.subtitle}}</small></h3>
                    <p>{{group.description}}</p>

                    <div ng-repeat="resource in group.resources">
                        <rest-action ng-repeat="action in resource.actions"
                                     header-case="upper"
                                     api="api" resource="resource" action="action"><!-- attrs used for making requests -->
                            <div class="panel panel-default">
                                <div class="panel-heading action-header">
                                    <div class="row">
                                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <strong>{{action.method}}</strong>
                                        </span>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <strong>{{resource.path}}</strong>
                                        </span>
                                        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <span class="pull-right">{{action.title}}</span>
                                        </span>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <tr ng-repeat="param in action.params"
                                        class="form-group param-spec" ng-class="{'text-muted': !param.required}">
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <rest-param-label for="param.name" class="control-label"></rest-param-label>
                                            : <span class="text-muted">{{param.model.baseType}}</span>
                                        </td>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="param-type">{{param.type}}</span>
                                        </td>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span ng-hide="param.required">(optional)</span>
                                        </td>
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <rest-param-input name="param.name" class="pull-right"></rest-param-input>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-default">
                                    <tr>
                                         <td colspan="2" rowspan="4" class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <div class="response-specification">
                                                <ul class="list-unstyled response-list">
                                                    <li ng-repeat="response in action.responses" class="response">
                                                        <strong class="status">
                                                            <span class="status-code">{{response.statusCode}}</span>
                                                            <span class="status-name">{{response.status}}</span>
                                                        </strong>

                                                        <!-- XXX use list-style-type:none instead of list-unstyled because it keeps the margin -->
                                                        <ul style="list-style-type: none;" class="model-list">
                                                            <li ng-repeat="model in response.models" class="model">
                                                                <div>
                                                                    <span>
                                                                        <a><!-- TODO link to schima -->
                                                                            <span tooltip-placement="right" tooltip="{{api.models[model.ref].description}}">
                                                                                <strong>
                                                                                    {{api.models[model.ref].title}}
                                                                                    <small>{{api.models[model.ref].subtitle}}</small>
                                                                                </strong>
                                                                            </span>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                                <!--rest-model spec="model">Schema...</rest-model-->
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-hide="action.method === 'GET' || action.method === 'DELETE'">
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <rest-content-type-label class="control-label">
                                                Content-Type
                                            </rest-content-type-label>
                                        </td>
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="content-type-specification">
                                                <!-- TODO use a directive to add the rest-action-accept class -->
                                                <rest-content-type-select class="form-control"></rest-content-type-select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <rest-accept-label class="control-label">
                                                Accept
                                            </rest-accept-label>
                                        </td>
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="accept-specification">
                                                <!-- TODO use a directive to add the rest-action-accept class -->
                                                <rest-accept-select class="form-control"></rest-accept-select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"></td>
                                        <td>
                                            <rest-submit class="btn btn-primary pull-right">
                                                <span class="messasg">Try it out!</span>
                                                <span class="glyphicon glyphicon-transfer"></span>
                                            </rest-submit>
                                        </td>

                                    </tr>
                                </table>

                                <div class="panel-body response" ng-hide="false"><!-- FIXME -->
                                    Request URI
                                    <div class="well well-default">
                                        <rest-demo-url></rest-demo-url>
                                    </div>

                                    Request Header
                                    <div class="well well-default">
                                        <rest-demo-header class="list-unstyled"></rest-demo-header>
                                    </div>

                                    Request Body
                                    <div class="well well-default">
                                        <rest-demo-body></rest-demo-body>
                                    </div>

                                    Response Status
                                    <div class="well well-default">
                                        <rest-demo-response-status></rest-demo-response-status>
                                    </div>

                                    Response Header
                                    <div class="well well-default">
                                        <rest-demo-response-header class="list-unstyled"></rest-demo-response-header>
                                    </div>

                                    Response Body
                                    <div class="well well-default">
                                        <rest-demo-response-body></rest-demo-response-body>
                                    </div>
                                </div>
                            </div>
                        </rest-action>
                    </div>
                </div>
            </rest-api>

            <div class="footer legal">
                <div class="license-list">
                    <p ng-repeat="license in licenses">
                        This work except where otherwise noted is licensed through {{license.type}}.
                        The terms of this license can be found <a ng-href="{{license.href}}">here</a>.
                    </p>
                </div>
                <div class="term-list">
                    <p ng-repeat="t in terms">
                        By using these APIs you agree to the <a ng-href="{{t.href}}">{{t.type}}</a>.
                    </p>
                </div>
            </div>
        </rest>
    </div>

    <!--script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-0.9.0.js"></script-->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>

    <!-- TODO this should be loaded dynamically -->
    <script type="text/javascript" src="javascript/underscore-min.js"></script>
    <script type="text/javascript" src="javascript/xml_for_script-3.1/jsXMLParser/xmlw3cdom.js"></script>
    <script type="text/javascript" src="javascript/xml_for_script-3.1/jsXMLParser/xmlsax.js"></script>
    <!-- TODO END -->

    <script type="text/javascript" src="rest/restml.js"></script>
    <script type="text/javascript" src="rest/app.js"></script>
    </body>
</html>
