<!DOCTYPE html>
<html ng-app="restApp" ng-controller="restController">
    <head>
        <title ng-bind="title"></title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="rest/rest.css"/>
        <script type="text/javascript" src="javascript/angular-1.2.6/angular.min.js"></script>
    </head>
    <body>
    <div class="container">
        <rest-select src="'/service.xml'" on-select="selected(serviceUrl)"></rest-select>

        <rest src="src" on-load="serviceLoaded(service)" ng-cloak>
            <h1>{{title}} <small>{{subtitle}}</small></h1>
            <p>{{description}}</p>

            <div ng-repeat="api in apis" spec="api">
                <h2>{{api.title}} <small>{{api.subtitle}}</small></h2>
                <p>{{api.description}}</p>

                <div ng-repeat="group in api.groups">
                    <h3>{{group.title}} <small>{{group.subtitle}}</small></h3>
                    <p>{{group.description}}</p>

                    <div ng-repeat="resource in group.resources">
                        <rest-action ng-repeat="action in resource.actions"
                                     resource="resource" action="action"><!-- attrs used for making requests -->
                            <div class="panel panel-default">
                                <div class="panel-heading action-header">
                                    <div class="row">
                                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <strong>{{action.method}}</strong>
                                        </span>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <strong>{{resource.path}}</strong>
                                        </span>
                                        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <span class="pull-right">{{action.title}}</span>
                                        </span>
                                    </div>
                                </div>
                                <table class="table table-hover parameter-specification">
                                    <tr ng-repeat="param in action.params" class="form-group">
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-class="{'text-muted': !param.required}">
                                            <label for="resource_{{resource.nickname}}-{{action.method}}-param_{{param.name}}" class="control-label">
                                                {{param.name}}: {{param.model.baseType}}
                                            </label>
                                        </td>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-class="{'text-muted': !param.required}">
                                            {{param.type}}
                                        </td>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-class="{'text-muted': !param.required}">
                                            <span ng-hide="param.required">
                                                (optional)
                                            </span>
                                        </td>
                                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <!-- TODO use a directive to add the rest-action-param class -->
                                            <input name="{{param.name}}" type="text" class="rest-action-param pull-right" id="resource_{{resource.nickname}}-{{action.method}}-param_{{param.name}}">
                                        </td>
                                    </tr>
                                    <tr>
                                         <td colspan="2" rowspan="4">
                                            <div class="response-specification">
                                                <ul class="list-unstyled response-list">
                                                    <li ng-repeat="response in action.responses" class="response">
                                                        <strong class="status">
                                                            <span class="status-code">{{response.statusCode}}</span>
                                                            <span class="status-name">{{response.status}}</span>
                                                        </strong>

                                                        <!-- XXX use list-style-type:none instead of list-unstyled because it keeps the margin -->
                                                        <ul style="list-style-type: none;" class="model-list">
                                                            <li ng-repeat="model in response.models" class="model">
                                                                <div>
                                                                    <span>
                                                                        <strong>{{api.models[model.ref].title}} <small>{{api.models[model.ref].subtitle}}</small> </strong>
                                                                    </span>
                                                                    <span>{{api.models[model.ref].description}}</span>
                                                                </div>
                                                                <!--rest-model spec="model">Schema...</rest-model-->
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="content-type" class="control-label">Content-Type</label></td>
                                        <td>
                                            <div class="content-type-specification">
                                                <!-- TODO use a directive to add the rest-action-accept class -->
                                                <select id="content-type" class="form-control rest-content-type" name="rest-content-type">
                                                    <option value="application/json">application/json</option>
                                                    <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="accept" class="control-label">Accept</label></td>
                                        <td>
                                            <div class="accept-specification">
                                                <!-- TODO use a directive to add the rest-action-accept class -->
                                                <select id="accept" class="form-control rest-action-accept" name="rest-accept-type">
                                                    <option value="application/json">application/json</option>
                                                    <option value="text/xml">text/xml</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"></td>
                                        <td>
                                            <button type="submit" class="btn btn-primary pull-right">
                                                Try it out!
                                                <span class="glyphicon glyphicon-transfer"></span>
                                            </button>
                                        </td>

                                    </tr>
                                </table>

                                <div class="panel-body response" ng-hide="true"><!-- FIXME -->
                                    Request URI
                                    <div class="well well-default request-uri">uri</div>
                                    Request Header
                                    <div class="well well-default request-uri">headr</div>
                                    Request Body
                                    <div class="well well-default request-uri">body</div>
                                    Response Header
                                    <div class="well well-default response-header">header</div>
                                    Response Body
                                    <div class="well well-default response-body">body</div>
                                </div>
                            </div>
                        </rest-action>
                    </div>
                </div>
            </div>

            <div class="footer legal">
                <div class="license-list">
                    <p ng-repeat="license in licenses">
                        This work except where otherwise noted is licensed through {{license.type}}.
                        The terms of this license can be found <a ng-href="{{license.href}}">here</a>.
                    </p>
                </div>
                <div class="term-list">
                    <p ng-repeat="t in terms">
                        By using these APIs you agree to the <a ng-href="{{t.href}}">{{t.type}}</a>.
                    </p>
                </div>
            </div>
        </rest>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="javascript/underscore-min.js"></script>

    <!-- TODO this should be loaded dynamically -->
    <script type="text/javascript" src="javascript/xml_for_script-3.1/jsXMLParser/xmlw3cdom.js"></script>
    <script type="text/javascript" src="javascript/xml_for_script-3.1/jsXMLParser/xmlsax.js"></script>
    <!-- TODO END -->

    <script type="text/javascript" src="rest/restml.js"></script>
    <script type="text/javascript" src="rest/app.js"></script>
    </body>
</html>
